# Ignore Turtle-Simulator submodule directories
/turtlebot3
/turtlebot3_msgs
/turtlebot3_simulations

# Ignore GCS build files
/sweng452w/GCS/build-GCS-Desktop-Debug

# Ignore QT user profile file
/sweng452w/GCS/GCS/GCS.pro.user
/sweng452w/GCS/GCS/mainwindow.h.autosave

# Ignore Visual Studio Code project files
.vscode/

# Ignore YahBoom real-time mode controller drivers
/real_mode/Driver_installer/dist
/real_mode/Driver_installer/build
/real_mode/Driver_installer/Rosmaster_Lib.egg-info
/real_mode/Driver_installer/dist/Rosmaster_Lib-1.7.3-py3.8.egg