<!-- Launches ROS with actual YahBoom hardware -->

<launch>

    <!-- Launcehs the YahBoom Drivers that allow for control with the ROS Control Board -->
    <include file="$(find yahboomcar_bringup)/launch/bringup.launch" />

    <!-- Launches script that controls vehicle movement from Ground Control Station (GCS) -->
    <node pkg="sweng452w" name="finalProject" type="sweng452w" output="screen" />

</launch>
